params{
  single_end=false
  meteor_memory='40GB'
  meteor_threads='10'
  bwtcores='6'
  seed=123
  downsize_cutoff=5000000

  output="meteor_out"

  //meteor_downsize
  meteor_downsize=false
  //meteor_strain
  meteor_strain=false

}

executor {
  queueSize=40
}


timeliene{
  enabled=true
  file="./timeline.html"
}

manifest{
  name='nf_meteor2'
  author='Jose Garcia'
  homePage="github/garciafertson/nf_meteor2"
  description="pipeline for metagenomic analysis using meteor2 pipeline"
  mainScript="main.nf"
  version="0.1"
}
